<p>content-list works!</p>

<p>Phones List</p>



<main>
  <section class="searchForTitle">
    <div>
      <input type="text" [(ngModel)]="searchTitle" placeholder="Search Title here...">
      <button (click)="searchByTitle()">Search</button>
    </div>

    <div *ngIf="titleFound !== null">
      <p [style.color]="titleFound ? 'green' : 'red'">
        {{titleFound ? 'Pone Found' : 'Phone not found'}}
      </p>
    </div>
  </section>


  <h1>Phone Type : No Type</h1>
  <section class="cards">
    <div *ngFor="let content of contents | contentType" appHoverAffect="border">
      <app-content-card [phone]="content" [class]="'NoType'"></app-content-card>
    </div>
  </section>

  <h1>Phone Type : IOS</h1>
  <section class="cards">
    <div *ngFor="let content of contents | contentType:'Super Sport'" appHoverAffect="border">
      <app-content-card [phone]="content" [class]="'IOS'"></app-content-card>
    </div>
  </section>

  <h1>Phone Type : Android</h1>
  <section class="cards">
    <div *ngFor="let content of contents | contentType:'Naked Super Sport'" appHoverAffect="border">
      <app-content-card [bike]="content" [class]="'Android'"></app-content-card>
    </div>
  </section>
</main>





<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- For Assignment 4 code -->
<!--
<h1 style="padding: 20px; margin: 20px; background-color: lavenderblush; color: darkblue;">
  Search Form


  <br />
  <br />


  <div>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by title">
    &nbsp;
    <button (click)="checkExistence()"> Search </button>
    <p *ngIf="(searchResults.length === 0 || searchResults.length < 0)" class="search-message red" style="color: red; font-weight: bold; font-size: 30px;">No results found.</p>
    <p *ngIf="searchTerm && searchResults.length > 0" class="search-message green" style="color: green; font-weight: bold; font-size: 30px;">A content item with this title exists.</p>
  </div>

  <ul>
    <li *ngFor="let item of searchResults">{{ item.title }}</li>
  </ul>
</h1>


<br />
<br />
<hr />
<br />
<br />



<h1 appHoverAffect="underline" style="padding: 20px; padding-left:550px; margin: 20px; font-size:60px;
  background-color: antiquewhite; color: darkblue;"> Type : No Type </h1>

<ul style="padding-left:300px">
  <li style="list-style-type: none; font-family:'Times New Roman', Times, serif;"
      *ngFor="let content of contentArray | contentList: ''">

    <div class="content-card" style="width: 70%; padding: 10px; margin: 10px; border-radius: 10%;
      text-align: center; background-color: antiquewhite; color: darkmagenta; margin-bottom: 50px; ">

      <h1 class="content-card-header" style="font-size:50px">
        {{content.title}}
      </h1>
      <div class="content-card-body">

        <p>
          <img *ngIf="content.imgURL; else defaultURL" [src]="content.imgURL" alt="content image" style="width: 70%; border-radius: 10%;" />
          <ng-template #defaultURL>
            <img src="https://1.bp.blogspot.com/-6j0O7KLU44g/VycGES9Gr4I/AAAAAAAAAWY/IT8jC_2lDMQKuCFUrwMpudemZVYVDjeEwCLcB/s1600/country-wise-mobile-phones-import.png"
                  alt="default image" style="width: 70%; border-radius: 10%;" />
          </ng-template>
        </p>

        <p style="font-size:30px">{{ content.description }}</p>
        <p style="font-size:30px"><strong>Creator:</strong> {{ content.creator }}</p>
        <p style="font-size:30px" appHoverAffect="underline"><strong>Type:</strong> {{ content.type }}</p>
        <p style="font-size:30px">
          <strong>Tags:</strong>
          <span *ngFor="let tag of content.tags" appHoverAffect="bold">&emsp;{{ tag }}</span>
        </p>
      </div>

    </div>

  </li>
</ul>


<br />
<br />
<hr />
<br />
<br />


<h1 appHoverAffect="underline" style="padding: 20px; padding-left: 550px; margin: 20px; font-size: 60px;
  background-color: burlywood; color: darkblue; "> Type : IOS </h1>

<ul style="padding-left:300px">
  <li style="list-style-type: none; font-family:'Times New Roman', Times, serif"
      *ngFor="let content of contentArray | contentList: 'ios'">

    <div class="content-card" style="width: 70%; padding: 10px; margin: 10px; border-radius: 10%;
      text-align: center; background-color: burlywood; color: darkmagenta; margin-bottom: 50px; ">

      <h1 class="content-card-header" style="font-size:50px">
        {{content.title}}
      </h1>
      <div class="content-card-body">
        <p>
          <img *ngIf="content.imgURL; else defaultURL" [src]="content.imgURL" alt="content image" style="width: 70%; border-radius: 10%;" />
          <ng-template #defaultURL>
            <img src="https://1.bp.blogspot.com/-6j0O7KLU44g/VycGES9Gr4I/AAAAAAAAAWY/IT8jC_2lDMQKuCFUrwMpudemZVYVDjeEwCLcB/s1600/country-wise-mobile-phones-import.png"
                 alt="default image" style="width: 70%; border-radius: 10%;" />
          </ng-template>
        </p>

        <p style="font-size:30px">{{ content.description }}</p>
        <p style="font-size:30px"><strong>Creator:</strong> {{ content.creator }}</p>
        <p style="font-size:30px" appHoverAffect="underline"><strong>Type:</strong> {{ content.type }}</p>
        <p style="font-size:30px">
          <strong>Tags:</strong>
          <span *ngFor="let tag of content.tags" appHoverAffect="bold">&emsp;{{ tag }}</span>
        </p>
      </div>

    </div>

  </li>
</ul>


<br />
<br />
<hr />
<br />
<br />


<h1 appHoverAffect="underline" style="padding: 20px; padding-left: 550px; margin: 20px; font-size: 60px;
  background-color: darksalmon; color: darkblue; "> Type: Android </h1>

<ul style="padding-left:300px">
  <li style="list-style-type: none; font-family:'Times New Roman', Times, serif"
      *ngFor="let content of contentArray | contentList: 'android'">

    <div class="content-card" style="width: 70%; padding: 10px; margin: 10px; border-radius: 10%;
      text-align: center; background-color: darksalmon; color: darkmagenta; margin-bottom: 50px; ">

      <h1 class="content-card-header" style="font-size:50px">
        {{content.title}}
      </h1>
      <div class="content-card-body">
        <p>
          <img *ngIf="content.imgURL; else defaultURL" [src]="content.imgURL" alt="content image" style="width: 70%; border-radius: 10%;" />
          <ng-template #defaultURL>
            <img src="https://1.bp.blogspot.com/-6j0O7KLU44g/VycGES9Gr4I/AAAAAAAAAWY/IT8jC_2lDMQKuCFUrwMpudemZVYVDjeEwCLcB/s1600/country-wise-mobile-phones-import.png"
                 alt="default image" style="width: 70%; border-radius: 10%;" />
          </ng-template>
        </p>

        <p style="font-size:30px">{{ content.description }}</p>
        <p style="font-size:30px"><strong>Creator:</strong> {{ content.creator }}</p>
        <p style="font-size:30px" appHoverAffect="underline"><strong>Type:</strong> {{ content.type }}</p>
        <p style="font-size:30px">
          <strong>Tags:</strong>
          <span *ngFor="let tag of content.tags" appHoverAffect="bold">&emsp;{{ tag }}</span>
        </p>
      </div>

    </div>

  </li>
</ul>
-->

<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- For Assignment 3 code

<h1 style="padding: 20px; margin: 20px; background-color: lavenderblush; color: darkblue;">
  Search Form


  <br />
  <br />


  <div>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by title">
    &nbsp;
    <button (click)="checkExistence()"> Search </button>
    <p *ngIf="(searchResults.length === 0 || searchResults.length < 0)" class="search-message red" style="color: red; font-weight: bold; font-size: 30px;">No results found.</p>
    <p *ngIf="searchTerm && searchResults.length > 0" class="search-message green" style="color: green; font-weight: bold; font-size: 30px;">A content item with this title exists.</p>
  </div>

<ul>
  <li *ngFor="let item of searchResults">{{ item.title }}</li>
</ul>
</h1>


<br />
<br />
<hr />
<br />
<br />


<h1 style="padding: 20px; margin: 20px; background-color: antiquewhite; color: darkblue;"> Type : No Type </h1>

<ul>
  <li style="list-style-type: none; font-family:'Times New Roman', Times, serif;"
      *ngFor="let content of contentArray | contentList: ''">

    <div class="content-card" style="width: 40%; padding: 10px; margin: 10px; border-radius: 10%;
      text-align: center; background-color: antiquewhite; color: darkmagenta; margin-bottom: 50px; ">

      <h1 class="content-card-header">
        {{content.title}}
      </h1>
      <div class="content-card-body">
        <p><img src="{{ content.imgURL }}" alt="content image" style="width: 70%; border-radius: 10%;" /></p>
        <p style="font-size:20px">{{ content.description }}</p>
        <p><strong>Creator:</strong> {{ content.creator }}</p>
        <p><strong>Type:</strong> {{ content.type }}</p>
        <p>
          <strong>Tags:</strong>
          <span>{{ content.tags }}</span>
        </p>
      </div>

    </div>

  </li>
</ul>


<br />
<br />
<hr />
<br />
<br />


<h1 style="padding: 20px; margin: 20px; background-color: burlywood; color: darkblue; "> Type : IOS </h1>

<ul>
  <li style="list-style-type: none; font-family:'Times New Roman', Times, serif"
      *ngFor="let content of contentArray | contentList: 'ios'">

    <div class="content-card" style="width: 40%; padding: 10px; margin: 10px; border-radius: 10%;
      text-align: center; background-color: burlywood; color: darkmagenta; margin-bottom: 50px; ">

      <h1 class="content-card-header">
        {{content.title}}
      </h1>
      <div class="content-card-body">
        <p><img src="{{ content.imgURL }}" alt="content image" style="width: 70%; border-radius: 10%;" /></p>
        <p style="font-size:20px">{{ content.description }}</p>
        <p><strong>Creator:</strong> {{ content.creator }}</p>
        <p><strong>Type:</strong> {{ content.type }}</p>
        <p>
          <strong>Tags:</strong>
          <span>{{ content.tags }}</span>
        </p>
      </div>

    </div>

  </li>
</ul>


<br />
<br />
<hr />
<br />
<br />


<h1 style="padding: 20px; margin: 20px; background-color: darksalmon; color: darkblue; "> Type: Android </h1>

<ul>
  <li style="list-style-type: none; font-family:'Times New Roman', Times, serif"
      *ngFor="let content of contentArray | contentList: 'android'">

    <div class="content-card" style="width: 40%; padding: 10px; margin: 10px; border-radius: 10%;
      text-align: center; background-color: darksalmon; color: darkmagenta; margin-bottom: 50px; ">

      <h1 class="content-card-header">
        {{content.title}}
      </h1>
      <div class="content-card-body">
        <p><img src="{{ content.imgURL }}" alt="content image" style="width: 70%; border-radius: 10%;" /></p>
        <p style="font-size:20px">{{ content.description }}</p>
        <p><strong>Creator:</strong> {{ content.creator }}</p>
        <p><strong>Type:</strong> {{ content.type }}</p>
        <p>
          <strong>Tags:</strong>
          <span>{{ content.tags }}</span>
        </p>
      </div>

    </div>

  </li>
</ul>
-->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->



<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- For Assignment 2 code

<div *ngFor="let content of contentArray; let i = index"
     class="content-card" style="padding:30px; margin:30px; border-radius:30px;"
     [ngStyle]="{ border: i == 0 ? '2px solid black' : '1px solid gray' }">
  <header class="content-card-header">
    {{ content.title }}
  </header>

  <div class="content-card-body">
    <p><img src="{{ content.imgURL }}" alt="content image" style="width: 20%" /></p>
    <p>{{ content.imgURL }}</p>
    <p>{{ content.description }}</p>
    <p><strong>Creator:</strong> {{ content.creator }}</p>
    <p><strong>Type:</strong> {{ content.type }}</p>
    <p>
      <strong>Tags:</strong>
      <span *ngFor="let tag of content.tags">{{ content.tags }}</span>
    </p>
  </div>
</div>
  -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->


<!--
  <div>
  <ul>
    <li *ngFor="let item of contentArray">{{item.title}} <br /> {{item.imgURL}}</li>
  </ul>
</div>
  -->


<!--
<div *ngFor="let content of Content; let i = index" class="content-card" [ngStyle]="{'border': i == 0 ? '2px solid black' : '1px solid gray'}">
  <header class="content-card-header">
    {{ content.title }}
  </header>
  <div (click)="console.log(content.id + ' - ' + content.title)">
    <img [src]="content.image" alt="content image">
  </div>
  <div class="content-card-body">
    <p>{{ content.description }}</p>
    <p><strong>Creator:</strong> {{ content.creator }}</p>
    <p><strong>Type:</strong> {{ content.type }}</p>
    <p>
      <strong>Tags:</strong>
      <span *ngFor="let tag of content.tags">{{ tag }}</span>
    </p>
  </div>
</div>
-->
