<p>create-content works!</p>

<p>Phones List</p>



<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- For Assignment 5 code -->

<h1 style="padding: 20px; margin: 20px; background-color: lavenderblush; color: darkblue;">
  Add new content  item

  <form style="font-size: 20px;">
    <br />

    <div>
      <label>ID: <input type="number" [(ngModel)]="newContent.id" name="id"></label> <br />
      <label>Title: <input type="text" [(ngModel)]="newContent.title" name="title"></label> <br />
      <label>Description: <input type="text" [(ngModel)]="newContent.description" name="description"></label> <br />
      <label>ImgURL: <input type="text" [(ngModel)]="newContent.imgURL" name="imgURL"></label> <br />
      <label>Type: <input type="text" [(ngModel)]="newContent.type" name="type"></label> <br />
      <label>Tags: <input type="text" [(ngModel)]="newContent.tags" name="tags"></label> <br />
      <label>Creator: <input type="text" [(ngModel)]="newContent.creator" name="creator"></label> <br> <br />

      <div>
        <button (click)="addContent()">Add Content</button>
      </div>

    </div> <br />

  </form>

</h1>


