<mat-card [id]="phone.id" [ngClass]="['card', class]" appHoverAffect="border">
  <mat-card-header [matTooltip]="phone.title" [matTooltipPosition]="'above'">
    <div class="card-img">
      <div *ngIf="phone.imgURL; else defaultImage">
        <img mat-card-image [src]="phone.imgURL" alt={{phone.title}} (click)="handleClick(phone)">
      </div>
      <ng-template #defaultImage>
        <img mat-card-image [src]="defaultPhone" alt={{phone.title}} (click)="handleClick(phone)">
      </ng-template>
    </div>
  </mat-card-header>

  <mat-card-content class="card-body">
    <h2><a routerLink="/contents/{{phone.id}}">{{phone.title}}</a></h2>
    <p><strong>Creator:</strong> {{phone.creator}}</p>
  </mat-card-content>

  <mat-card-footer>
    <p *ngIf="phone.type" appHoverAffect="underline"><strong>Type:</strong> {{phone.type}}</p>
    <p *ngIf="phone.tags">
      <strong>Tags:</strong>
      <span *ngFor="let tag of phone.tags" appHoverAffect="bold">
        {{tag}},
      </span>
    </p>
  </mat-card-footer>
</mat-card>
