<!--<p>content-card works!</p>-->

<div [id]="phone.id" [ngClass]="['card', class]" appHoverAffect="border">

  <div class="card-img" style="list-style-type: none; font-family:'Times New Roman', Times, serif;">
    <div *ngIf="phone.imgURL; else defaultImage">
      <img [src]="phone.imgURL" alt={{phone.title}} (click)="handleClick(phone)" width="500px">
    </div>
    <ng-template #defaultImage>
      <img [src]="defaultPhone" alt={{phone.title}} (click)="handleClick(phone)" width="500px">
    </ng-template>
  </div>

  <div class="card-body">
    <h2>{{phone.title}}</h2>
    <p>{{phone.description}}</p>
    <p><strong>Creator:</strong> {{phone.creator}}</p>
    <p *ngIf="phone.type" appHoverAffect="underline"><strong>Type:</strong> {{phone.type}}</p>
    <p *ngIf="phone.tags">
      <strong>Tags:</strong>
      <span *ngFor="let tag of phone.tags" appHoverAffect="bold">
        {{tag}},
      </span>
    </p>
  </div>
</div>

<br /><hr /><br />
