<!-- <app-content-list></app-content-list> -->

<!--<app-content-list *ngFor="let item of contentArray"
                  [content]="item"></app-content-list>-->

<!--<app-content-list *ngFor="let item of contentArray"
                  ></app-content-list>-->
 

<!--<app-content-list>{{title}}</app-content-list>-->

<!--{{title}}-->


<!--<h1 style="padding: 20px; margin: 20px; background-color: lavenderblush; color: darkblue;">-->
  <!--<section class="phoneById-sec">
    <div class="idForm">
      <form (submit)="findPhoneById()">
        <label for="phoneId">Enter Phone ID:</label> <br>
        <input type="number" min="0" id="phoneId" name="phoneId" [(ngModel)]="phoneId" placeholder="Enter Phone ID">
        <button>Get Phone</button>
      </form>
    </div>
    <div class="oneCard">
      <app-content-card [phone]="onePhoneById" [class]="'onePhone'"></app-content-card>
    </div>
  </section>-->

  <!--<section class="phoneById-sec">
    <div class="idForm">
      <form (submit)="findPhoneById()">
        <mat-form-field>
          <mat-label for="phoneId">Enter an ID</mat-label>
          <input matInput type="number" min="0" id="phoneId" name="phoneId" [(ngModel)]="phoneId" placeholder="Enter Phone ID">
        </mat-form-field> <br>
        <button mat-raised-button color="primary" type="submit">Get Phone <mat-icon>download</mat-icon></button>
      </form>
    </div>
    <div class="oneCard">
      <app-content-card [phone]="onePhoneById" [class]="'onePhone'"></app-content-card>
    </div>
  </section>
</h1>-->


<router-outlet></router-outlet>


<br /><br />
<h1 style="padding: 20px; margin: 20px; background-color: deepskyblue; color: black;">
  <app-message></app-message>
</h1>
<br /><br />


<app-content-list></app-content-list>
